@import '../../../Assets/Styles/Helpers/Helpers.Style.scss';

.courses-schedules-wrapper {
  width: 100%;

  .courses-schedules-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    .posts-side-menu-wrapper {
      max-height: calc(100vh - 20rem);
      width: 30%;
      overflow-y: auto;
      margin-right: 3rem;
      background-color: #F2EFE8;
      padding-top: 1rem;

      .post-item-wrapper {
        font-size: 16px;

        .MuiButton-root {
          padding: 1rem 2rem;
          color: $c-secondary;
          width: 100%;
          text-align: left;
          justify-content: flex-start;
          min-height: 6rem;
          max-height: 6rem;
          text-transform: capitalize;
          font-size: 14px;
        }

        &.is-selected {
          .MuiButton-root {
            background-color: $c-primary;
            color: $c-white;
          }
        }
      }
    }

    .selected-post-wrapper {
      width: 70%;

      .selected-post-title {
        color: $c-secondary;
        font-weight: bold;
        font-size: 26px;
        font-family: 'Roboto', 'Arial', 'sans', serif;
      }

      .selected-post-body {
        font-size: 18px;
      }

      .skeleton-wrapper {
        padding-top: 0.5rem;

        .skeleton-item {
          margin-bottom: 1rem;

          .MuiSkeleton-root {
            width: 100%;
            height: 1.5rem;
          }

          &.is-title {
            margin-bottom: 2rem;

            .MuiSkeleton-root {
              width: 50%;
              height: 2.5rem;
            }
          }

          &.is-half {
            .MuiSkeleton-root {
              width: 60%;
              height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
