@import '../../../../Assets/Styles/Helpers/Helpers.Style.scss';

.header-wrapper {
  width: 100%;

  .header-content-wrapper {
    .main-header-content-wrapper {
      background-color: $c-secondary;
      color: $c-white;
      min-height: 12rem;

      @media (max-width: 720px) {
        min-height: 8rem;
      }

      .main-header-content {
        max-width: 1440px;
        padding: 0 15px;
        margin: 0 auto;


        .main-upper-wrapper {
          display: flex;

          .main-upper-image {
            padding-right: 1rem;

            img {
              width: 120px;
              height: 100%;
              overflow: hidden;

              @media (max-width: 720px) {
                width: 80px;
              }
            }
          }

          .main-upper-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            font-size: 12px;

            .upper-content-section {
              font-family: "Faustina", "Crimson Text", "serif";
              display: flex;
              align-items: center;
              justify-content: space-between;

              &.is-with-border {
                border-bottom: 1px solid rgba(255, 255, 255, 0.13);

                @media (max-width: 720px) {
                  display: none;
                }
              }

              .nav-items-wrapper {
                display: flex;
                align-items: center;

                .MuiButton-root {
                  background-color: $c-primary;
                  color: $c-white;
                  font-size: 12px;
                  font-weight: bold;
                  border-radius: 0;
                  padding-bottom: 0.7rem;
                  min-width: 9rem;

                  img {
                    width: 14px;
                    height: 100%;
                    margin-left: 0.3rem;
                  }
                }

                .upper-content-item {
                  padding-right: 1rem;
                }
              }

              .upper-content-title {
                font-size: 46px;

                @media (max-width: 720px) {
                  font-size: 34px;
                }
              }

              .upper-content-search-wrapper {
                .MuiOutlinedInput-root {
                  color: $c-white;
                }

                .MuiTextField-root {
                  min-width: 30rem;

                  .MuiInputLabel-root {
                    color: $c-white;
                    font-size: 14px;
                  }

                  .MuiInputAdornment-root {
                    color: $c-white;

                    .MuiSvgIcon-root {
                      font-size: 2rem;
                    }
                  }

                  .MuiOutlinedInput-notchedOutline {
                    border-color: rgba(128, 128, 128, 0.36);
                  }
                }

                @media (max-width: 768px) {
                  display: none;
                }
              }

              .upper-content-sub-title {
                padding: 9px 0;
              }
            }
          }
        }

        .main-lower-wrapper {
          display: flex;
          align-items: center;
          height: 4rem;

          @media (max-width: 720px) {
            overflow-x: auto;
            max-width: 100%;
          }

          .main-lower-item {
            padding-right: 3.5rem;
            font-size: 18px;
            font-family: 'Roboto', 'Arial', 'sans', serif;

            @media (max-width: 720px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .sub-header-content-wrapper {
      background-color: #f2efe8;
      color: $c-black;
      height: 10rem;

      @media (max-width: 720px) {
        height: 7rem;
      }

      .sub-header-content {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .sub-title-wrapper {
          padding-top: 1rem;
          color: $c-secondary;
          font-size: 2.75rem;
          font-weight: bold;
          font-family: 'Roboto', 'Arial', 'sans', serif;

          @media (max-width: 720px) {
            font-size: 18px;
          }
        }

        .sub-breadcrumbs-wrapper {
          display: flex;
          align-items: center;

          .breadcrumb-item {
            padding-right: .5rem;

            &.is-red {
              color: $c-primary;
              text-decoration: underline;
            }
          }

          .separate-item {
            font-size: 12px;
            padding-right: .5rem;
          }
        }
      }
    }
  }
}
