@import '../../../../Assets/Styles/Helpers/Helpers.Style.scss';

.header-wrapper {
  width: 100%;

  .header-content-wrapper {
    .main-header-content-wrapper {
      background-color: $c-secondary;
      color: $c-white;
      height: 12rem;

      .main-header-content {
        max-width: 1440px;
        padding: 0 15px;
        margin: 0 auto;
      }
    }

    .sub-header-content-wrapper {
      background-color: #f2efe8;
      color: $c-black;
      height: 10rem;

      .sub-header-content {
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .sub-title-wrapper {
          padding-top: 1rem;
          color: $c-secondary;
          font-size: 2.75rem;
          font-weight: bold;
          font-family: 'Roboto', 'Arial', 'sans', serif;
        }

        .sub-breadcrumbs-wrapper {
          display: flex;
          align-items: center;

          .breadcrumb-item {
            padding-right: .5rem;

            &.is-red {
              color: $c-primary;
              text-decoration: underline;
            }
          }

          .separate-item {
            font-size: 12px;
            padding-right: .5rem;
          }
        }
      }
    }
  }
}
